@use '../base/settings' as *;

.nothing__main-content {
    position: relative;
    align-items: center;
    background-color: $white;
    color: $dark-purple;
    display: flex;
    font-size: 25px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    line-height: 30px;

    p {
        margin-bottom: 20px;
        text-align: center;
    }
}

.nothing__mobile-menu {
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 20px;
}